<div class="center hero-unit">
  <h1 key="one" align="center">Welcome to TeamUp!</h1>

  <h2 align="center">
    Create a user profile to get started or view our other users.
  </h2>

 <p align="center"><%= link_to 'New User', new_user_path %> |
   <%= link_to 'View Users', users_path %></p>